<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WFA_ArduinoSerial_001.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <WFA_ArduinoSerial_001.My.MySettings>
            <setting name="MyCOMPort" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MyBAUDRate" serializeAs="String">
                <value>9600</value>
            </setting>
        </WFA_ArduinoSerial_001.My.MySettings>
    </userSettings>
</configuration>